@bottombar-height: 26px;

.container-bottombar {
    background-color: @color-primary;
    width: 100%;
    height: @bottombar-height;
    position: fixed;
    bottom: 0px;
    display: block;
    z-index: 1;
}

.trigger-mainmenu {
    display: inline-block;
    height: @bottombar-height;
    margin-left: 8px;
    line-height: @bottombar-height;
    font-size: 14px;
    z-index: 2;
}

.trigger-category {
    display: inline-block;
    margin-left: 2px;
    height: @bottombar-height;
    line-height: @bottombar-height;
    font-size: 14px;
    z-index: 2;
}

.trigger-cloud {
    display: none;
    margin-left: 2px;
    height: @bottombar-height;
    line-height: @bottombar-height;
    font-size: 14px;
    z-index: 2;
}

.bottombar-category-name {
    line-height: @bottombar-height;
    font-size: 12px;
    position: relative;
}

.bottombar-trigger {
    color: @color-trigger-primary;
    margin-top: 2px;
}

.bottombar-trigger:hover {
    color: @color-trigger-hover-primary;
}

.trigger-expandnewnote {
    display: none;
    width: 30px;
    float: right;
    line-height: @bottombar-height;
    font-size: 14px;
    z-index: 2;
}

.bottom-bar-statusbar {
    width: auto;
    color: @color-secondary;
    float: right;
    margin-top: 3px;
    margin-right: 6px;
    font-size: 15px;
}

.statusbar-item {
    display: inline-block;
    width: 20px;
    text-align: center;
}

#statusbar-item-alwaysontop {
    display: none;
}