//color
@color-category-background: @color-mainmenu-background;
@color-categroy-split: @color-mainmenu-split;
@color-category-text: @color-mainmenu-primary;
@color-category-hover: @color-mainmenu-hover;
//values
@category-width: 250px;
@category-item-height: 40px;

.category-focused{
    background: @color-category-hover !important;
}

//classes
.container-category{
    display: none;
    position: absolute;
    width: @category-width;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    z-index: 2;
    .no-drag();
    /*animate*/
    .duration(0.75s);
}
.category-background{
    .mainmenu-background();
}
.category-panel{
    width: 220px;
    height: 100%;
    left:0;
    background: @color-category-background;
    z-index: 1;
    box-shadow: 0px 0px 20px 3px @color-boxshadow;
}
.category-split{
    width: 100%;
    height:1px;
    margin-top:12px;
    margin-bottom:12px;
    background: @color-categroy-split;
}
.category-body ul{
    width: 100%;
    margin:0;
    padding:0;
    .no-drag();
}
.category-body li{
    width: 100%;
    height: @category-item-height;
    list-style-type: none;
    color: @color-category-text;
    font-size: 15px;
    line-height: @category-item-height;
    .no-select-and-drag();
}
.category-body li:hover{
    background-color: @color-category-hover;
}
.category-header{
    padding-top: 18px;
    padding-left: 18px;
}
.category-header p{
    font-size: 16px;
    letter-spacing: 0.05em;
    color: @color-category-text;
}
.category-icon-add{
    text-align: center;
}
.category-item-name{
    display: inline-block;
    margin-left: 18px;
}
.category-item-count{
    float: right;
    margin-right: 18px;
}

#category-add-inside{
    display: none;
}
.category-add-input{
    display: inline-block;
    width: @category-width - 90px;
    margin-left: 18px;
}
.category-add-btn{
    float: right;
    padding-right: 18px;
}
.category-add-input input{
    line-height: @category-item-height - 12px;
    border: none;
    color: @color-category-text;
    background: @color-category-background;
}
.category-add-input input:focus{
    outline: 0 !important;
}