.container-newnote {
    height: 180px;
    width: 100%;
    background-color: @color-primary;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: fixed;
    bottom: 26px;
    display: block;
    border-bottom: 1px solid @color-border-primary;
    box-shadow: 0 -4px 8px @color-border-shadow;
    /* animate */
    .short-duration();
}

.container-newnote .lbl {
    padding-top: 10px;
    height: 36px;
    color: @color-text-primary;
    font-size: 14px;
    .no-select();
}

.container-newnote label {
    display: inline-block;
}

.container-newnote .control {
    width: 100%;
    font-weight: 300;
}

.container-newnote .control textarea {
    width: 100%;
    height: 130px;
    text-align: justify;
    border: 0;
    padding: 8px 12px;
    resize: none;
    font-weight: 100px;
    font-size: 14px;
    border-radius: 4px;
    letter-spacing: 0.05em;
    color: @color-textarea-color;
    background: @color-textarea-background;
}

.container-newnote .control textarea::-webkit-scrollbar {
    width: 6.5px;
}

.container-newnote .control textarea::-webkit-scrollbar-track-piece {
    background-color: @color-textarea-background;
}

.container-newnote .control textarea::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: @color-primary;
}

.container-newnote .control textarea::-webkit-scrollbar-button {
    display: none;
}

.container-newnote .control textarea:focus {
    outline: 0;
}

.newnote-fold {
    float: right;
    display: inline-block;
    width: 32px;
    height: 24px;
    text-align: right;
    right: 0px;
    margin-right: -5px;
    margin-top: -1px;
}

.newnote-info {
    float: right;
    display: inline-block;
    width: 32px;
    height: 24px;
    text-align: right;
    right: 0px;
    margin-right: -5px;
}

.newnote-markdown {
    display: inline-block;
    width: 32px;
    height: 24px;
    text-align: left;
    margin-left: 0px;
    margin-right: -8px;
    float: right;
    button {
        padding: 0;
        height: 18px;
        margin-top: -1px;
        border-radius: 3px !important;
        svg {
            width: 28px;
            height: 26px;
            margin-top: -3px;
            margin-left: 2px;
            path {
                transition: 0.1s;
                fill: @color-trigger-primary;
            }
        }
    }
    button:hover > svg > path {
        fill: @color-trigger-hover-primary;
    }
}

.newnote-markdown-checked {
    background: @color-trigger-bg-checked;
}

.newnote-trigger {
    color: @color-trigger-primary;
    transition: 0.1s;
}
.newnote-trigger:hover {
    color: @color-trigger-hover-primary;
}

//浮动信息框
.newnote-info-float {
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 8px 12px;
    position: absolute;
    right: 52px;
    background: @color-primary;
    border: @color-newnote-float-border;
    display: none;
    box-shadow: 0px 0px 8px @color-boxshadow-dark;
}

.newnote-info-item {
    display: flex;
}

.newnote-info-item label {
    color: @color-text-primary;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    .no-select-and-drag();
}

.newnote-info-item input {
    height: 28px;
    padding: 8px 10px;
    font-size: 13px;
    color: @color-control-text;
    background: @color-textarea-background;
    border: none;
}

.newnote-info-item input:focus {
    font-size: 13px;
    color: @color-control-text;
    background: @color-textarea-background;
    border: none;
    box-shadow: none;
}
.newnote-info-item input::-webkit-input-placeholder {
    color: @color-control-placeholder;
}
.newnote-info-item select {
    height: 28px;
    padding: 0 8px;
    font-size: 13px;
    color: @color-control-text;
    background: @color-textarea-background;
    border: none;
}
.newnote-info-item select:focus {
    color: @color-control-text;
    background: @color-textarea-background;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.note-text-submittip {
    bottom: 10px;
    font-size: 10px;
    right: 20px;
    display: block !important;
    position: absolute;
    color: @color-newnote-tip;
    .no-select-and-drag();
}

//styles for English UI
.newnote-info-item-en-us > .br-col-2 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
}
.newnote-info-item-en-us > .br-col-10 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
}
