.container-right {
    position: absolute;
    width: @toast-max-width;
    right: 0;
}
.right-wrapper {
    width: max-content;
    max-width: @toast-max-width;
    float: right;
    margin: 8px 14px 8px 8px;
}
