@import "./color.common.less";
@import "./color.default.less";

@color-primary: @color-white;
@color-secondary: @color-white;

@color-danger: @color-white;

// shadow
@color-boxshadow: @color-white;
@color-boxshadow-dark: @color-white;

// border
@color-border-primary: @color-lightgray;

// text
@color-text-primary: @color-white;
@color-text-secondary: @color-white;
@color-control-text: @color-white;
@color-control-placeholder: @color-white;
@color-control-bg: @color-white;
@color-control-border: @color-white;
@color-textarea-color: @color-white;
@color-textarea-background: @color-white;

// infobar
@color-success: #00c13f;
@color-warning: #f4b300;
@color-error: #ff2e12;
@color-info: darken(@color-primary, 15%);

// updater progressbar
@color-updateprogress-background: @color-info;
@color-updateprogress-value: #1fadff85;

// mainmenu
@color-mainmenu-primary: @color-white;
@color-mainmenu-background: @color-white;
@color-mainmenu-hover: lighten(@color-mainmenu-primary, 42%);
@color-mainmenu-split: @color-white;

// note
@color-note-background: @color-white;
@color-note-text: @color-white;
@color-note-selected: @color-white;
@color-notelist-background: @color-white;
@color-note-empty: @color-white;
@color-newnote-float-border: none;

// bottombar
@color-trigger-primary: @color-white;
@color-trigger-hover-primary: @color-white;
@color-trigger-bg-checked: @color-white;