@import "./color.common.less";

@color-primary: #1faeff;
@color-secondary: @color-white;

@color-danger: #dc3545;

//hover and shadow
@color-primary-hover: lighten(@color-primary, 10%);
@color-primary-darkhover: darken(@color-primary, 10%);
@color-danger-darkhover: darken(@color-danger, 10%);

//shadow
@color-boxshadow: rgba(0, 0, 0, .2);
@color-boxshadow-dark: @color-deepgray;

//border
@color-border-primary: @color-lightgray;

//text
@color-text-primary: @color-white;
@color-text-secondary: @color-black;
@color-control-text: @color-text-secondary;
@color-control-placeholder: lighten(@color-control-text,20%);
@color-textarea-color: @color-text-secondary;
@color-textarea-background: @color-secondary;

//infobar
@color-success: #00c13f;
@color-warning: #f4b300;
@color-error: #ff2e12;
@color-info: darken(@color-primary, 15%);

//updater progressbar
@color-updateprogress-background: @color-info;
@color-updateprogress-value: #1fadff85;

//mainmenu
@color-mainmenu-primary: @color-gray;
@color-mainmenu-background: @color-white;
@color-mainmenu-hover: lighten(@color-mainmenu-primary, 42%);
@color-mainmenu-split: rgb(216, 216, 216);

//note
@color-note-selected: @color-lightblack;
@color-notelist-background: @color-white;
@color-note-empty: @color-text-secondary;
@color-newnote-float-border: 1px solid darken(@color-primary, 10%);

//bottombar
@color-trigger-primary: @color-secondary;
@color-trigger-hover-primary: darken(@color-trigger-primary, 10%);

//toast
@color-toast-bg: @color-primary;
@color-toast-text: @color-text-primary;
@color-toast-border: 1px solid darken(@color-primary, 10%);

//about
@color-about-primary: @color-gray;
@color-about-bg: @color-secondary;

//settings
@color-settings-text: @color-text-secondary;
@color-settings-titles-clicked: @color-primary;
@color-settings-titles-clicked-bg: @color-secondary;
@color-settings-background: @color-secondary;
@color-settings-selectborder:#ced4da;

//updater
@color-updater-text: @color-darkgray;
@color-updater-text-red: @color-red;

//edit
@color-edit-top-border: @color-secondary;