.brcontrol-input{
    display: block;
    font-weight: 400;
    font-size: 14px;
    border: none;
    width: 100%;
    line-height: 1.5;
    padding: .375rem .75rem;
}
.brcontrol-input:focus{
    outline: none;
}
.brcontrol-input::-webkit-input-placeholder {
    color: @color-control-placeholder;
}
.br-invalid-underline{
    border-bottom: 1px solid @color-error !important;
}