.brcontrol-input{
    display: block;
    font-weight: 400;
    font-size: 14px;
    border: none;
    width: 100%;
    line-height: 1.5;
    padding: .375rem .75rem;
}
.brcontrol-input:focus{
    outline: none;
}
.brcontrol-input::-webkit-input-placeholder {
    color: @color-control-placeholder;
}
.br-invalid{
    border: 1px solid @color-error !important;
}
.br-invalid-underline{
    border-bottom: 1px solid @color-error !important;
}
.brcontrol-range{
    border: none !important;
    padding: 0 !important;
    background-color: @color-text-primary !important;
    -webkit-appearance: none;
    border-radius: 50px;
    height: 4px !important;
}
.brcontrol-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    background: darken(@color-text-primary, 15%);
}