.container-edit{
    width:100%;
    position: fixed;
    display: block;
    background-color: @color-primary;
    padding: 12px 13px;
    border-top: solid 1px @color-secondary;
}
.container-edit span{
    font-size:13px;
    color: @color-secondary;
}
.container-edit textarea{
    width: 100%;
    height: 300px;
    margin-top:8px;
    text-align: justify;
    border: 0;
    padding: 8px 12px;
    resize: none;
    font-weight: 100px;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: 0.05em;
    display: block;
    background: @color-textarea-background;
    color: @color-textarea-color;
}
.edit-title {
    font-size: 13px !important;
    padding: 9px 12px;
}
.container-edit textarea::-webkit-scrollbar {
    width: 6.5px;
}
.container-edit textarea::-webkit-scrollbar-track-piece {
    background-color: @color-textarea-background;
}

.container-edit textarea::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: @color-primary;
}

.container-edit textarea::-webkit-scrollbar-button {
    display: none;
}

.container-edit textarea:focus {
    outline: 0;
}
.container-footer{
    width: 100%;
    height:40px;
    position: absolute;
    display: block;
    background-color: @color-primary;
    bottom: 0px;
    padding: 0 12px;
}
.container-footer button{
    float: right;
    font-size: 14px;
    margin-left: 8px;
    border:solid 1px @color-white;
    text-align: center;
    padding:3px 13px !important;
    border-radius: 5px !important;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
}
.container-footer button:hover{
    background-color: @color-primary-hover;
}
#edit-header-time{
    .no-select-and-drag();
}