.container-edit{
    width:100%;
    position: fixed;
    display: block;
    background-color: @color-primary;
    padding: 12px 13px;
    border-top: solid 1px @color-window-top-border;
}
.container-edit span{
    font-size:13px;
    color: @color-secondary;
}
.container-edit textarea{
    width: 100%;
    height: 225px;
    margin-top:8px;
    text-align: justify;
    border: 0;
    padding: 8px 12px;
    resize: none;
    font-weight: normal;
    font-size: 14px;
    border-radius: 5px;
    letter-spacing: 0.05em;
    display: block;
    background: @color-textarea-background;
    color: @color-textarea-color;
}
.edit-title {
    font-size: 13px !important;
    padding: 9px 12px;
}
.container-edit textarea::-webkit-scrollbar {
    width: 6.5px;
}
.container-edit textarea::-webkit-scrollbar-track-piece {
    background-color: @color-textarea-background;
}

.container-edit textarea::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: @color-primary;
}

.container-edit textarea::-webkit-scrollbar-button {
    display: none;
}

.container-edit textarea:focus {
    outline: 0;
}
.container-footer{
    width: 100%;
    height:48px;
    position: absolute;
    display: block;
    background-color: @color-primary;
    bottom: 0px;
    padding: 8px 12px;
}
.container-footer button{
    float: right;
    font-size: 14px;
    margin-left: 8px;
    color: @color-text-primary;
    border:solid 1px @color-text-primary;
    text-align: center;
    padding:3px 13px !important;
    border-radius: 5px !important;
    letter-spacing: 0.05em;
    margin-bottom: 6px;
}
.container-footer button:hover{
    background-color: @color-primary-hover;
}
#edit-header-time{
    .no-select-and-drag();
}

//info
.container-edit-info{
    margin: 6px 0px 12px 0;
}
.edit-info-item{
    display: block;
}

.edit-info-item label{
    color: @color-text-primary;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 28px;
    display: inline-block;
    .no-select-and-drag();
}
.edit-info-item input{
    height: 28px;
    padding: 8px 10px;
    font-size: 14px;
    color: @color-control-text;
    background: @color-textarea-background;
    border:none;
}
.edit-info-item>.edit-item-control{
    display: inline-block;
    width: 530px;
    margin-left: 18px;
}
.edit-info-item>.edit-item-control-half-left{
    display: inline-block;
    margin-left: 18px;
    width: 225px;
}
.edit-info-item>.edit-item-control-half-right{
    display: inline-block;
    margin-left: 18px;
    width: 243px;
}
.edit-info-item input::-webkit-input-placeholder { /* Webkit browsers */
    color: @color-control-placeholder;
}
.edit-info-item input:focus{
    font-size: 14px;
    color: @color-control-text;
    background: @color-textarea-background;
    border:none;
    box-shadow: none;
}
.edit-info-item select{
    height: 28px;
    padding: 0 8px;
    font-size: 14px;
    color: @color-control-text;
    background: @color-textarea-background;
    border:none;
}
.edit-info-item select:focus{
    color: @color-control-text;
    background: @color-textarea-background;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.edit-info-inlineitem{
    display: inline-block;
}
.edit-info-item-half{
    width: 50%;
}

.edit-markdown {
    margin-right: 0;
    button{
        margin-top: 3px;
        margin-left: 6px;
        svg{
            margin-top: -10px;
        }
    }
}
.edit-markdown-checked {
    background: @color-trigger-bg-checked;
    margin-left: 2px !important;
}

//English
.edit-info-item>.edit-item-control-en-us{
    width: 532.5px;
}
.edit-info-item>.edit-item-control-half-left-en-us{
    width: 201px;
}
.edit-info-item>.edit-item-control-half-right-en-us{
    width: 216px;
}