<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fastnote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--import requirements-->
    <script>
        window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');
        require('../node_modules/bootstrap/dist/js/bootstrap.min.js');
    </script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- titlebar -->
    <div class="container-titlebar col-lg-12 drag">
        <div class="title">Fastnote</div>
        <div id="electron-titlebar" class="titlebar" style="z-index: 999;position: fixed !important;"></div>
    </div>
    <script>
        require('electron-titlebar');
    </script>
    <!-- notes -->
    <div class="container-main">
        <div class="note-list col-lg-12">
            <div class="note">
                <div class="note-header">
                    <p class="note-no">#1</p>
                    <p class="note-time">2018-7-3 16:25</p>
                </div>
                <div class="note-content">
                    <p class="note-content">今天要购买一台笔记本电脑</p>
                </div>
            </div>
        </div>
        <!-- empty -->
        <div class="note-empty col-lg-12">
            <span>您还没有建立任何的笔记</br>在下方你可以快速新建新笔记</span>
        </div>
        <script>
            function showNoteEmpty(){
                var node_empty = document.getElementsByClassName('note-empty')[0];
                var node_list = document.getElementsByClassName('note-list')[0];
                node_empty.setAttribute("style","display:flex;");
                node_list.setAttribute("style","display:none;");
            }
            function showNoteList(){
                var node_empty = document.getElementsByClassName('note-empty')[0];
                var node_list = document.getElementsByClassName('note-list')[0];
                node_empty.setAttribute("style","display:none;");
                node_list.setAttribute("style","display:block;");
            }
        </script>
    </div>

    <!-- new note -->
    <div class="fixed col-lg-12">
        <div class="container-newnote">
            <div class="lbl">
                <label>新建笔记</label>
            </div>
            <div class="control">
                <textarea id="note-text"></textarea>
            </div>
        </div>
    </div>

    <script>
        require('../app/notes.js');
    </script>
</body>

</html>