@import './colors/color.common.less';

// 使用不显示body+遮罩来实现纯白效果，缩小中间样式的规模

html {
  background: @color-white !important;
  color: @color-white !important;
  display: none !important;
}

body {
  background: @color-white !important;
  color: @color-white !important;
  display: none !important;
}

body::before {
	display: block;
	position: fixed;
	top: 0;
  bottom: 0;
	left: 0;
  right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
	background: @color-white;
  content: '';
}

// 图标特殊处理
.fa, svg, img {
	display: none !important;
}
