.short-duration {
  animation-duration: 0.5s !important;
  -webkit-animation-duration: 0.5s !important;
}
.mid-duration {
  animation-duration: 1s !important;
  -webkit-animation-duration: 1s !important;
}
.long-duration {
  animation-duration: 1.5s !important;
  -webkit-animation-duration: 1.5s !important;
}
.no-drag {
  -webkit-user-drag: none;
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.no-select-and-drag {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/*button*/
.br-btn {
  border: none;
  overflow: hidden;
  padding: 0 5px;
  text-align: center;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.br-btn:focus {
  outline: 0;
}
.btn-white {
  background-color: #fff;
  border-radius: 0 !important;
}
.brbtn-danger {
  color: #d5d2cd !important;
  background-color: #4e4e4e !important;
  border: 0 !important;
}
.brbtn-danger:hover {
  background-color: #414141 !important;
}
.brbtn-danger:focus {
  outline: none !important;
  box-shadow: none !important;
}
.brbtn-primary {
  color: #d5d2cd !important;
  background-color: #1f1f1f !important;
  border: 0 !important;
}
.brbtn-primary:hover {
  background-color: #121212 !important;
}
.brbtn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn-noback {
  background-color: transparent;
  border-radius: 0 !important;
  color: #fff;
}
@font-face {
  font-family: Source Han Sans CN;
  src: url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Normal.otf'), url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Bold.otf'), url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Extralight.otf'), url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Heavy.otf'), url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Light.otf'), url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Medium_0.otf'), url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Regular.otf');
  font-weight: 100,200,300,400,500,700,900;
}
body {
  margin: 0 !important;
  font-weight: 400 !important;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
button {
  -webkit-app-region: no-drag;
}
han {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.drag {
  -webkit-app-region: drag;
}
.titlebar {
  padding-right: 20px;
  float: right;
}
.titlebar .button {
  height: 35px !important;
}
.titlebar img {
  margin-top: 12px !important;
}
.container-titlebar {
  background-color: #1f1f1f;
  height: 35px;
  position: absolute;
  top: 0px;
  padding: 0 !important;
}
.title {
  color: #d2d2d2;
  height: 35px;
  font-size: 15px;
  font-weight: 200;
  padding: 7px 12px;
  -webkit-user-select: none;
  position: fixed !important;
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.icon-spin {
  animation: icon-spin 2s infinite linear;
}
.note-list {
  width: 100%;
  height: 558px;
  padding-bottom: 3px;
  overflow-y: auto;
  pointer-events: auto !important;
  background: #2e2e2e;
}
.note-list::-webkit-scrollbar {
  width: 8px;
  z-index: 10;
}
.note-list::-webkit-scrollbar-track-piece {
  background: #2e2e2e;
}
.note-list::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #1f1f1f;
}
.note-list::-webkit-scrollbar-button {
  display: none;
}
.note-empty {
  width: 100%;
  height: 558px;
  overflow-y: hidden;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: none;
  z-index: -1;
  /* animate */
  animation-duration: 1.5s !important;
  -webkit-animation-duration: 1.5s !important;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.note-empty span {
  color: #d5d2cd;
  font-size: 20px;
}
.note {
  color: #d5d2cd;
  background-color: #1f1f1f;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 6px 12px;
  /* animate */
  animation-duration: 0.5s !important;
  -webkit-animation-duration: 0.5s !important;
  pointer-events: auto !important;
}
.note-wrapper {
  padding: 9px 12px;
}
.note-header {
  border-bottom: solid #d5d2cd 1px;
  height: 32px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.note-header p {
  display: inline-flex;
}
.note-no {
  font-size: 15px;
}
.note-time {
  font-size: 12px;
  float: right;
  padding-top: 5px;
  -webkit-user-drag: none;
}
.note-updatetime {
  margin-left: 0.25rem;
}
.note-content {
  width: 100%;
  margin-top: 8px !important;
  margin-bottom: 5px !important;
}
.note-content p {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.06em;
  padding: 0 !important;
  margin: 0 !important;
  word-break: break-all;
  overflow-x: hidden;
  text-justify: auto;
}
.note-content a {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #d5d2cd;
  font-size: 15px;
  text-decoration: underline;
  letter-spacing: 0.06em;
}
.note-content a:hover {
  color: #d5d2cd;
}
.note-selected {
  background: #262626;
}
.note-overheight {
  height: 250px;
  padding-right: 6px;
  overflow-y: auto;
}
.note-overheight::-webkit-scrollbar {
  width: 5px;
}
.note-overheight::-webkit-scrollbar-track-piece {
  background-color: #1f1f1f;
}
.note-overheight::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #d2d2d2;
}
.note-overheight::-webkit-scrollbar-button {
  display: none;
}
.container-infobar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.infobar {
  width: 450px;
  height: 35px;
  text-align: center;
  top: 0;
  position: fixed;
  font-size: 14px;
  padding: 6px 15px;
  color: #d2d2d2;
  /* animate */
  animation-duration: 1s !important;
  -webkit-animation-duration: 1s !important;
}
.infobar i {
  margin-right: 15px;
}
.infobar-success {
  background-color: #004116;
}
.infobar-warning {
  background-color: #412f00;
}
.infobar-error {
  background-color: #5a0b00;
}
.infobar-info {
  background-color: #000000;
}
.update-progress::-webkit-progress-bar {
  background: #000000;
}
.update-progress::-webkit-progress-value {
  background: #1a1a1a;
}
.container-newnote {
  height: 180px;
  width: 100%;
  background-color: #1f1f1f;
  padding-left: 12px !important;
  padding-right: 12px !important;
  position: fixed;
  bottom: 26px;
  display: block;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  /* animate */
  animation-duration: 0.5s !important;
  -webkit-animation-duration: 0.5s !important;
}
.container-newnote .lbl {
  padding-top: 10px;
  color: #d5d2cd;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.container-newnote label {
  display: inline-block;
}
.container-newnote .control {
  width: 100%;
  font-weight: 300;
}
.container-newnote .control textarea {
  width: 100%;
  height: 120px;
  text-align: justify;
  border: 0;
  padding: 8px 12px;
  resize: none;
  font-weight: 100px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 0.05em;
  color: #d5d2cd;
  background: #2e2e2e;
}
.container-newnote .control textarea::-webkit-scrollbar {
  width: 6.5px;
}
.container-newnote .control textarea::-webkit-scrollbar-track-piece {
  background-color: #2e2e2e;
}
.container-newnote .control textarea::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #1f1f1f;
}
.container-newnote .control textarea::-webkit-scrollbar-button {
  display: none;
}
.container-newnote .control textarea:focus {
  outline: 0;
}
.newnote-fold {
  float: right;
  display: block;
  width: 32px;
  height: 24px;
  text-align: right;
  right: 0px;
  margin-right: -5px;
  margin-bottom: 2px;
}
.container-mainmenu {
  display: none;
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-user-drag: none;
  /*animate*/
  animation-duration: 0.75s !important;
  -webkit-animation-duration: 0.75s !important;
}
.mainmenu-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  /*animate*/
  animation-duration: 0.75s !important;
  -webkit-animation-duration: 0.75s !important;
}
.mainmenu-panel {
  width: 250px;
  height: 100%;
  left: 0;
  background: #1e1e1e;
  z-index: 1;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
}
.mainmenu-logo {
  text-align: center;
  padding-top: 21px;
  padding-bottom: 10px;
}
.mainmenu-logo img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.mainmenu-logo h1 {
  padding-top: 12px;
  color: #d5d2cd;
  font-size: 26px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
.mainmenu-logo span {
  color: #d5d2cd;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.1em;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.mainmenu-split {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #2e2e2e;
}
.mainmenu-menu {
  width: 100%;
}
.mainmenu-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
}
.mainmenu-menu li {
  width: 100%;
  height: 50px;
  list-style-type: none;
  color: #d5d2cd;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 50px;
  -webkit-user-drag: none;
}
.mainmenu-menu li span {
  padding-left: 42px;
  -webkit-user-select: none;
}
.mainmenu-menu li:hover {
  background-color: #323232;
}
.container-bottombar {
  background-color: #1f1f1f;
  width: 100%;
  height: 26px;
  position: fixed;
  bottom: 0px;
  display: block;
  z-index: 1;
}
.trigger-mainmenu {
  display: inline-block;
  width: 32px;
  height: 26px;
  padding-left: 8px;
  line-height: 26px;
  font-size: 14px;
  z-index: 2;
  /* animate */
  animation-duration: 0.5s !important;
  -webkit-animation-duration: 0.5s !important;
}
.bottombar-trigger {
  color: #d5d2cd;
}
.trigger-expandnewnote {
  display: none;
  width: 30px;
  height: 26px;
  float: right;
  line-height: 26px;
  font-size: 14px;
  z-index: 2;
}
.bottom-bar-statusbar {
  width: auto;
  color: #d2d2d2;
  float: right;
  margin-top: 3px;
  margin-right: 6px;
  font-size: 15px;
}
.statusbar-item {
  display: inline-block;
  width: 20px;
  text-align: center;
}
.container-updater {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  animation-duration: 0.5s !important;
  -webkit-animation-duration: 0.5s !important;
}
.update-block {
  width: 500px;
  height: 600px;
  background-color: #2e2e2e;
  border: solid 1px #1f1f1f;
  border-radius: 12px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.update-title {
  width: 100%;
  height: 40px;
  background-color: #1f1f1f;
  text-align: center;
  color: #d5d2cd;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.update-title span {
  line-height: 40px;
}
.update-contents {
  width: 100%;
  height: 520px;
  padding: 15px 15px;
  overflow-y: auto;
  -webkit-user-select: none;
}
.update-contents h1 {
  padding: 6px 0px;
  font-size: 21px;
  color: #d5d2cd;
  font-weight: bold;
}
.update-contents h2 {
  padding: 6px 0px;
  font-size: 17px;
  color: #d5d2cd;
  font-weight: bold;
}
.update-contents p {
  font-size: 15px;
  color: #d5d2cd;
  margin-bottom: 6px !important;
  word-break: break-all;
  white-space: pre-wrap;
}
.update-footer {
  bottom: 0;
  position: absolute;
  display: block;
  height: 40px;
  width: 100%;
  background-color: #1f1f1f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.control-item {
  margin: auto 35px;
  height: 40px;
}
.update-contents::-webkit-scrollbar {
  width: 3px;
}
.update-contents::-webkit-scrollbar-track-piece {
  background-color: #2e2e2e;
}
.update-contents::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #1f1f1f;
}
.update-contents::-webkit-scrollbar-button {
  display: none;
}
.update-contents-showfull {
  width: 100%;
  height: 36px;
  font-size: 15px;
  margin-top: 18px;
  color: #d5d2cd;
  background: #1f1f1f !important;
  border: none !important;
}
.update-progress {
  color: #000000;
  /*兼容IE10的已完成进度背景*/
  border: none;
  background: #1a1a1a;
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.update-contents-loading {
  text-align: center;
  display: block;
}
.update-contents-loading span {
  font-size: 15px;
}
.up-red {
  color: #5a0b00;
}
.up-bold {
  font-weight: bold;
}
.index-body {
  background: #2e2e2e;
  background-color: #2e2e2e;
}
.about-body {
  background: #1f1f1f;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* about */
.about-titlebar {
  position: absolute;
  top: 0px;
  padding: 0 !important;
}
.about-logo {
  margin-top: 36px;
  width: 100%;
  text-align: center;
}
.about-logo img {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  -webkit-user-drag: none;
}
.about-title {
  width: 100%;
  letter-spacing: 0.1em;
  color: #d5d2cd;
  text-align: center;
}
.about-title h1 {
  margin-top: 15px;
  font-size: 24px;
  line-height: 20px;
  height: 20px;
}
.about-title span {
  margin-top: 12px;
  font-size: 16px;
  line-height: 15px;
  height: 15px;
}
.about-footer {
  width: 100%;
  bottom: 0;
  position: absolute;
  color: #d5d2cd;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.05em;
  display: block;
  font-weight: 200 !important;
}
.about-opensource {
  padding-bottom: 24px;
}
.about-opensource span {
  display: inline-block;
}
.about-opensource i {
  color: gray;
  display: inline-block;
  margin-left: 0.25em;
}
.about-opensource i:hover {
  cursor: pointer;
}
.recyclebin-body {
  margin: 0 !important;
}
.recycle-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.recycle-list-container {
  width: 100%;
  height: 100%;
}
.recycle-list {
  height: 96.5%;
  padding-bottom: 20px;
}
.recycle-empty {
  padding: 15px 18px;
  height: 96.5%;
}
.recycle-empty span {
  font-size: 18px;
  padding-bottom: 25px;
}
.container-edit {
  width: 100%;
  position: fixed;
  display: block;
  background-color: #1f1f1f;
  padding: 12px 13px;
  border-top: solid 1px #d2d2d2;
}
.container-edit span {
  font-size: 13px;
  color: #d2d2d2;
}
.container-edit textarea {
  width: 100%;
  height: 300px;
  margin-top: 8px;
  text-align: justify;
  border: 0;
  padding: 8px 12px;
  resize: none;
  font-weight: 100px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 0.05em;
  display: block;
  background: #2e2e2e;
  color: #d5d2cd;
}
.edit-title {
  font-size: 13px !important;
  padding: 9px 12px;
}
.container-edit textarea::-webkit-scrollbar {
  width: 6.5px;
}
.container-edit textarea::-webkit-scrollbar-track-piece {
  background-color: #2e2e2e;
}
.container-edit textarea::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #1f1f1f;
}
.container-edit textarea::-webkit-scrollbar-button {
  display: none;
}
.container-edit textarea:focus {
  outline: 0;
}
.container-footer {
  width: 100%;
  height: 40px;
  position: absolute;
  display: block;
  background-color: #1f1f1f;
  bottom: 0px;
  padding: 0 12px;
}
.container-footer button {
  float: right;
  font-size: 14px;
  margin-left: 8px;
  border: solid 1px #fff;
  text-align: center;
  padding: 3px 13px !important;
  border-radius: 5px !important;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.container-footer button:hover {
  background-color: #393939;
}
#edit-header-time {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.settings-body {
  background: #2f2f2f;
}
.container-settings {
  width: 100%;
  height: 100%;
}
/* select bar*/
.settings-titles {
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-columns: 33.4% 33.3% 33.3%;
  grid-template-rows: 85px;
}
.settings-titles-block {
  background: #1f1f1f;
  text-align: center;
  color: #d5d2cd;
  height: auto;
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
}
.settings-titles-clicked {
  background: #2f2f2f;
  color: #d5d2cd;
}
.settings-titles-icon {
  margin: 14px auto 7px auto;
  display: block;
  font-size: 1.8em !important;
}
.settings-titles-span {
  display: block;
  font-size: 16px;
  letter-spacing: 0.032em;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
/* sections */
.settings-sections {
  margin: 28px 24px 0px 24px;
}
.settings-sections-hidden {
  display: none;
}
.settings-item {
  display: grid;
  grid-template-columns: 28% 8% 64%;
  grid-template-rows: 45px;
  align-items: left;
  margin-top: 3px;
}
.settings-item-title {
  font-size: 15px;
  text-align: left;
  margin-top: 6px;
  width: auto;
  margin-left: 45px;
  color: #d5d2cd;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.settings-item-control select {
  height: 34px;
  font-size: 13px;
  color: #d5d2cd;
  background: #2f2f2f;
  border: 1px solid #d2d2d2;
  vertical-align: middle;
}
.settings-item-control select:hover {
  background: #222222;
}
.settings-item-control select:focus {
  color: #d5d2cd;
  background: #222222;
  border: 1px solid #9f9f9f;
  outline: none !important;
  box-shadow: none !important;
}
.settings-item-control button {
  font-size: 14px;
  width: 100%;
}
.settings-item-control span {
  line-height: 34px;
  font-size: 14px;
  width: 100%;
  color: #d5d2cd;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.settings-item-control {
  width: 90%;
}
.settings-control-checkbox {
  margin-top: 10px;
}
.setting-buttons {
  right: 15px;
  bottom: 12px;
  width: max-content;
  position: absolute;
  display: flex;
}
.setting-buttons button {
  font-size: 14px;
  margin-left: 8px;
  text-align: center;
  padding: 3px 15px !important;
  letter-spacing: 0.05em;
}
.mainmenu-logo-default {
  display: none;
}
.mainmenu-logo-blackwhite {
  display: block;
}
.about-logo-default {
  display: none;
}
.about-logo-blackwhite {
  display: block;
}
