/*主设置*/
@font-face{
    font-family: Source Han Sans CN;
    src:url('../fonts/SourceHanSansCN-Normal.otf'),
    url('../fonts/SourceHanSansCN-Bold.otf'),
    url('../fonts/SourceHanSansCN-Extralight.otf'),
    url('../fonts/SourceHanSansCN-Heavy.otf'),
    url('../fonts/SourceHanSansCN-Light.otf'),
    url('../fonts/SourceHanSansCN-Medium_0.otf'),
    url('../fonts/SourceHanSansCN-Regular.otf');
    font-weight:100,200,300,400,500,700,900;
}


body {
    margin: 0;
    font-family: Source Han Sans CN, Arial, Helvetica, sans-serif !important;
    font-weight: 200px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    -webkit-app-region: no-drag;
}

.drag {
    -webkit-app-region: drag;
}

/* main */
.container-main{
    z-index: -1;
    pointer-events: none;
}

/*titlebar*/

.titlebar {
    padding-right: 20px;
    float: right;
}

.titlebar .button {
    height: 35px !important;
}

.titlebar img {
    margin-top: 12px !important;
}

.container-titlebar {
    background-color: #1faeff;
    height: 35px;
    position: absolute;
    top: 0px;
    padding: 0 !important;
}

.title {
    color: #ffffff;
    height: 35px;
    font-size: 16px;
    font-weight: 200px;
    padding: 6px 12px;
    -webkit-user-select: none;
    position: fixed !important;
}

/*fixed part*/

.container-newnote {
    height: 180px;
    width: 100%;
    background-color: #1faeff;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: fixed;
    bottom: 26px;
    display: block;
    border-top: 1px solid rgba(255,255,255,0.75);
    border-bottom: 1px solid rgba(255,255,255,0.75);
}

.container-newnote .lbl {
    padding-top: 10px;
    color: #ffffff;
    font-size: 14px;
    -webkit-user-select: none;
}

.container-newnote .control {
    width: 100%;
    font-weight: 300;
}

.container-newnote .control textarea {
    width: 100%;
    height: 120px;
    text-align: justify;
    border: 0;
    padding: 8px 12px;
    resize: none;
    font-weight: 100px;
    font-size: 14px;
    border-radius: 5px;
}

.container-newnote .control textarea:focus {
    outline: 0;
}

.tips-newnote{
    color:#1faeff;
    background-color: white;
    font-size: 12px;
    border: solid 1px #1faeff;
    position: absolute;
    padding: 3px 5px;
    top:-16px;
    left:5px;
    height:25px;
    text-align: center;
    display:none;
}

/* note */

.note-list {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 12px;
    height: 565px;
    overflow-y: auto;
    pointer-events: auto !important;
}

.note-list::-webkit-scrollbar {
    width: 5px;
}

.note-list::-webkit-scrollbar-track-piece {
    background-color: white;
}

.note-list::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #1faeff;
}

.note-list::-webkit-scrollbar-button {
    display: none;
}

.note-empty {
    width: 100%;
    height: 565px;
    overflow-y: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: none;
    z-index: -1;
    /* animate */
    animation-duration: 1.5s !important;
    -webkit-animation-duration: 1.5s !important;
    -webkit-user-select: none;
}

.note-empty span {
    color: black;
    font-size: 18px;
}

.note {
    color: #ffffff;
    background-color: #1faeff;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    padding: 8px 15px;
    margin-bottom: 12px;
    /* animate */
    animation-duration: 0.5s !important;
    -webkit-animation-duration: 0.5s !important;
    pointer-events: auto !important;
}

.note-header {
    border-bottom: solid #ffffff 2px;
    height: 32px;
    -webkit-user-select: none;
}

.note-header p {
    display: inline-block;
}

.note-no {
    font-size: 15px;
}

.note-time {
    font-size: 12px;
    float: right;
    padding-top: 5px;
}

.note-content {
    padding-top: 5px;
    margin-bottom: 5px;
}

.note-text {
    padding-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.note-selected{
    border:solid 2.5px rgba(245, 245, 245, .65);
    border-radius: 8px;
    padding: 5.5px 12.5px;
}

/* infobar */

.container-infobar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
}

.infobar {
    width: 450px;
    height: 35px;
    text-align: center;
    top: 0;
    position: fixed;
    font-size: 14px;
    padding: 6px 15px;
    color: #ffffff;
    /* animate */
    animation-duration: 1s !important;
    -webkit-animation-duration: 1s !important;
}

.infobar i {
    margin-right: 15px;
}

.infobar-success {
    background-color: #00c13f;
}

.infobar-warning {
    background-color: #F4B300;
}

.infobar-error {
    background-color: #FF2E12;
}

.infobar-info {
    background-color: #2673EC;
}

/* rightclickmenu */

.rightclickmenu {
    background-color: white;
    width: 85px;
    height: auto;
    display: none;
    position: absolute;
    font-size: 13px;
    color: #2e2e2e;
    border: solid 1px grey;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, .25);
}

.rightclickmenu button {
    height: 30px;
    padding: 0px 10px;
    background-color: white !important;
    border-radius: 0 !important;
}

.rightclickmenu button:focus {
    outline: 0;
}

/* updater */

.container-updater {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .25);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    animation-duration: 0.5s !important;
    -webkit-animation-duration: 0.5s !important;
}

.update-block {
    width: 500px;
    height: 600px;
    background-color: white;
    border: solid 1px #1faeff;
    border-radius: 12px;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.update-title {
    width: 100%;
    height: 40px;
    background-color: #1faeff;
    text-align: center;
    color: white;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.update-title span {
    line-height: 40px;
}

.update-contents {
    width: 100%;
    height: 520px;
    padding: 15px 15px;
    overflow-y: auto;
    -webkit-user-select: none;
}

.update-contents h1 {
    padding: 6px 0px;
    font-size: 21px;
    color: #2e2e2e;
    font-weight: bold;
}

.update-contents h2 {
    padding: 6px 0px;
    font-size: 17px;
    color: #2e2e2e;
    font-weight: bold;
}

.update-contents p {
    font-size: 15px;
    color: #2e2e2e;
    margin-bottom: 6px !important;
    word-break: break-all;
    white-space: pre-wrap;
}

.update-footer {
    bottom: 0;
    position: absolute;
    display: block;
    height: 40px;
    width: 100%;
    background-color: #1faeff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.control-item {
    margin: auto 35px;
    height: 40px;
}

.update-contents::-webkit-scrollbar {
    width: 3px;
}

.update-contents::-webkit-scrollbar-track-piece {
    background-color: white;
}

.update-contents::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color: #1faeff;
}

.update-contents::-webkit-scrollbar-button {
    display: none;
}

/*button*/

.br-btn {
    border: none;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.br-btn:focus {
    outline: 0;
}

.btn-white {
    background-color: white;
    border-radius: 0 !important;
}

.btn-noback {
    background-color: transparent;
    border-radius: 0 !important;
    color: white;
}

.update-progress {
    color: #2673EC;
    /*兼容IE10的已完成进度背景*/
    border: none;
    background: #1fadff85;
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.update-progress::-webkit-progress-bar {
    background: #2673EC;
}

.update-progress::-webkit-progress-value {
    background: #1fadff85;
}

.update-contents-loading {
    text-align: center;
    display: block;
}

.update-contents-loading span {
    font-size: 15px;
}

/* icon */

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-spin {
    animation: icon-spin 2s infinite linear;
}

/* main menu */
.container-mainmenu{
    display: none;
    position: absolute;
    width: 280px;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    z-index: 2;
    /*animate*/
    -webkit-animation-duration: 0.75s !important;
    animation-duration: 0.75s !important;
}
.mainmenu-background{
    display: none;
    background-color:rgba(0, 0, 0, .25);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    right:0;
    z-index: 1;
    /*animate*/
    -webkit-animation-duration: 0.75s !important;
    animation-duration: 0.75s !important;
}
.mainmenu-panel{
    width: 280px;
    height: 100%;
    left:0;
    background: white;
    z-index: 1;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .2);
}
.mainmenu-logo{
    text-align: center;
    padding-top:48px;
    padding-bottom: 20px
}
.mainmenu-logo h1{
    color:gray;
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 0.05em;
    -webkit-user-select: none;
}
.mainmenu-split{
    width: 100%;
    height:1px;
    margin-top:15px;
    margin-bottom:15px;
    background: rgb(216, 216, 216);
}
.mainmenu-menu{
    width: 100%;
}
.mainmenu-menu ul{
    width: 100%;
    margin:0;
    padding:0;
}
.mainmenu-menu li{
    width: 100%;
    height:55px;
    list-style-type: none;
    color:gray;
    letter-spacing: 0.05em;
    font-size: 16px;
    line-height: 55px;
}
.mainmenu-menu li span{
    padding-left:45px;
    -webkit-user-select: none;
}
.mainmenu-menu li:hover{
    background-color:rgb(245, 245, 245);
}
/* bottom-bar */
.container-bottombar{
    background-color: #1faeff;
    width: 100%;
    height: 26px;
    position: fixed;
    bottom:0px;
    display: block;
    z-index: 1;
}
.trigger-mainmenu{
    display:inline-block;
    width: 32px;
    height:26px;
    color:white;
    padding-left: 10px;
    line-height: 26px;
}