.login-body {
    background: @color-login-bg;
    .no-select-and-drag();
}
.container-login {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background-color: @color-login-bg;
    border-top: solid 1px lighten(@color-window-top-border, 5%);
    padding: 22px 24px 18px 24px;
}
#login-title {
    font-size: 14px !important;
    padding: 8px 12px;
}
.login-logo {
    display: inline-block;
}
.login-logo img {
    width: 72px;
}
.login-title {
    display: inline-block;
    color: @color-login-text;
    font-size: 20px;
    position: relative;
    bottom: 28px;
    margin-left: 22px;
    letter-spacing: 0.05em;
}
.login-body {
    margin-top: 4px;
}
.login-form-group {
    display: flex;
    align-items: center;
    height: 52px;
    line-height: 52px;
    .login-form-label {
        width: 120px;
        font-size: 14px;
        color: @color-login-text;
        margin-top: 6px;
        margin-left: 7px;
        .no-select-and-drag();
    }
    .login-form-control {
        flex-grow: 1;
        input {
            height: 34px;
            font-size: 13px;
            color: @color-login-text;
            background: @color-login-bg;
            border: 1px solid @color-control-border;
            vertical-align: middle;
            padding-left: 16px;
        }
        input:focus {
            color: @color-login-text;
            background: darken(@color-login-bg, 1%);
            border: 1px solid @color-control-border;
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .login-end {
        width: 96px;
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-self: flex-end;
        img, button {
            width: 96px;
        }
        button {
            font-size: 14px;
        }
    }
}
.login-form-button {
    margin-top: 16px;
}
.login-button {
    width: 68px;
    height: 36px;
    text-align: center;
    font-size: 14px !important;
    letter-spacing: 0.05em;
    padding: 4px 16px !important;
    margin-left: 8px;
    color: @color-text-primary;
    background: @color-primary !important;
}
.login-button:hover {
    background: lighten(@color-primary, 5%) !important;
}
