.settings-body{
    background-color: @color-settings-background !important;
}
.container-settings{
    width: 100%;
    height: 100%;
}
/* select bar*/
.settings-titles{
    width: 100%;
    height:85px;
    display: grid;
    grid-template-columns:33.4% 33.3% 33.3%;
    grid-template-rows:85px;
}
.settings-titles-block{
    background: @color-primary;
    text-align: center;
    color: @color-text-primary;
    height: auto;
    display: inline-block;
    width:auto;
    margin:0;
    padding:0;
}
.settings-titles-clicked{
    background: @color-settings-titles-clicked-bg;
    color: @color-settings-titles-clicked;
}
.settings-titles-icon{
    margin:14px auto 7px auto;
    display: block;
    font-size: 1.8em !important;
}
.settings-titles-span{
    display: block;
    font-size: 16px;
    letter-spacing: 0.032em;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
/* sections */
.settings-sections{
    margin:28px 24px 0px 24px;
}
.settings-sections-hidden{
    display:none;
}
.settings-item{
    display: grid;
    grid-template-columns: 28% 8% 64%;
    grid-template-rows: 45px;
    align-items: left;
    margin-top:3px;
}
.settings-item-title{
    font-size: 15px;
    text-align: left;
    margin-top:6px;
    width: auto;
    margin-left:45px;
    color: @color-settings-text;
    .no-select-and-drag();
}
.settings-item-control input{
    height: 34px;
    font-size: 13px;
    color: @color-settings-text;
    background: @color-settings-background;
    border: 1px solid @color-settings-controlborder;
    vertical-align: middle;
    padding-left: 16px;
}
.settings-item-control input:focus{
    color: @color-settings-text;
    background: darken(@color-settings-background, 5%);
    border: 1px solid darken(@color-settings-controlborder, 20%);
    outline: none !important;
    box-shadow: none !important;
}
.settings-item-control input::-webkit-input-placeholder {
    color: @color-control-placeholder;
}
.settings-item-control select{
    height: 34px;
    font-size: 13px;
    color: @color-settings-text;
    background: @color-settings-background;
    border: 1px solid @color-settings-controlborder;
    vertical-align: middle;
}
.settings-item-control select:disabled{
    cursor: not-allowed;
    background: @color-settings-select-disabled;
}
.settings-item-control select:hover:enabled{
    background: darken(@color-settings-background, 5%);
}
.settings-item-control select:focus{
    color: @color-settings-text;
    background: darken(@color-settings-background, 5%);
    border: 1px solid darken(@color-settings-controlborder, 20%);
    outline: none !important;
    box-shadow: none !important;
}
.settings-item-control button{
    font-size: 14px;
    width:100%;
}
.settings-item-control span{
    line-height: 34px;
    font-size: 14px;
    width:100%;
    color: @color-settings-text;
    .no-select-and-drag();
}
.settings-item-control{
    width:90%;
}
.settings-control-checkbox{
    margin-top: 7px;
    .no-select-and-drag();
}
.settings-control-checkbox input[type="checkbox"]+label::before{
    background-color: @color-settings-background !important;
    border-color: @color-settings-controlborder !important;
}
.settings-control-checkbox input[type="checkbox"]+label{
    font-size: 14px;
    padding-top: 4px;
    color: @color-settings-text !important;
}
.settings-control-checkbox input[type="checkbox"]:checked+label::after {
    color: @color-settings-text !important;
}
.setting-buttons{
    right:15px;
    bottom:12px;
    width: max-content;
    position: absolute;
    display: flex;
}
.setting-buttons button{
    font-size: 14px;
    margin-left: 8px;
    text-align: center;
    padding:3px 15px !important;
    letter-spacing: 0.05em;
}

//lock screen
#settings-item-lockscreen-enabled{
    display: none;
}
#settings-item-lockscreen-default-reset{
    display: none;
}
.settings-button-lockscreen-icon{
    margin-left: 10px;
    width: 36px !important;
    height: 34px !important;
}