.container-win-newnote{
    width:100%;
    height:100%;
    position: fixed;
    display: block;
    background-color: @color-primary;
    padding: 0px 16px;
    border-top: solid 1px @color-window-top-border;
}

.container-newnotewin-info{
    margin: 12px 0px;
}
#newnote-title {
    font-size: 14px !important;
}