@infobar-width: 460px;
@infobar-height: 35px;

.infobar {
    width: @infobar-width;
    height: @infobar-height;
    text-align: center;
    position: absolute;
    line-height: @infobar-height !important;
    top: 0;
    left: calc(50% - @infobar-width / 2);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @color-secondary;
    z-index: 20;
    pointer-events: all !important;
    /* animate */
    .mid-duration();
}

.infobar-icon{
    margin-right: 12px;
}

.infobar-success {
    background-color: @color-success;
}

.infobar-warning {
    background-color: @color-warning;
}

.infobar-error {
    background-color: @color-error;
}

.infobar-info {
    background-color: @color-info;
}

.update-progress::-webkit-progress-bar {
    background: @color-updateprogress-background;
}

.update-progress::-webkit-progress-value {
    background: @color-updateprogress-value;
}

.infobar-dismiss {
    -webkit-app-region: no-drag !important;
    position: absolute;
    right: 24px;
    font-size: 16px !important;
    line-height: @infobar-height !important;
    color: @color-secondary;
    cursor: pointer;
}
.infobar-dismiss:hover{
    color: @color-trigger-hover-primary;
}