/*主设置*/
@font-face{
    font-family: Source Han Sans CN;
    src:url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Normal.otf'),
    url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Bold.otf'),
    url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Extralight.otf'),
    url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Heavy.otf'),
    url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Light.otf'),
    url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Medium_0.otf'),
    url('https://smallfile.backrunner.top/fonts/SourceHanSansCN-Regular.otf');
    font-weight:100,200,300,400,500,700,900;
}

body {
    margin: 0;
    font-weight: 200px;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    -webkit-app-region: no-drag;
}

han {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.drag {
    -webkit-app-region: drag;
}